.header{
    padding: 70px;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    text-align: center;
}

.hr{
    border-width: 3px;
}

.headerText h1{
    font-size: 70px;
}

.headerText p{
    text-align: center;
    font-size: 1rem;
}

.poly{
    padding: 100px;
    /* Flexbox stuff */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-align: left;
}

.secondarySchool{

    text-align: center;
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .box1{
        padding: 100px;
    }

    .box1Text h1{
        font-size: 50px;
    }

    .educationContainer{
        padding-top: 200px;
    }

    .poly{
        padding: 20px;
        text-align: center;
    }

    .box2Text h1{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
    }
    

}


