

hr{
    border: 1px solid white;
    
}

.box1{
    padding: 70px;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    text-align: center;
}

.box1Text h1{
    font-size: 90px;
    font-family: 'Playfair Display', serif;
}


.box1Text p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}


.box2{
    padding: 100px;
    /* Flexbox stuff */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-align: left;

}


.box2Text h1{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.box2Text h4 {
    font-family: 'Rubik', sans-serif;

}

.box2Text h6 {
    font-family: 'Rubik', sans-serif;

}

.box2Text li {
    font-family: 'Rubik', sans-serif;

}


.box2Text p{
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .box1{
        padding: 100px;
    }

    .box1Text h1{
        font-size: 50px;
    }

    .box2{
        padding: 20px;
        text-align: center;
    }

    .box2Text h1{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
    }
    

}

