


.homePage{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/src/img/Untitled-1.png");
    background-size: cover;
    box-shadow: 1px 1px 20px 1px black;
    
}

.bannerText{
    padding: 100px;
    text-align: left;
    left: 20%;
    color: white;
}

.bannerText h1{
    font-size: 10em;
    font-family: 'Playfair Display', serif;
}

.bannerText h2{
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.bannerText h5{
    font-size: 1em;
    font-family: 'Rubik', sans-serif;

}

.info{
    font-size: 5px;
    text-align: left;
    left: 40%;
    color: white;
    margin: 0;

}

.socialIcons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    column-gap: 25px;
    width: 100%;
    height: 10em;
    padding: 0;
    margin: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .homePage{
        background-color: aqua;
    }
    
    .bannerText{
        text-align: center;
    }

    .bannerText p, .bannerText i {
        font-size: 13px;
    }

    .bannerText h1{
        font-size: 4em;
        text-align: center;
    }

    .bannerText h2{
        font-size: 1em;
    }

    .desc1{
        font-size: 3vw;
    }

    .socialIcons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
